<div class="hobbies-wrapper">
    @for(hobby of hobbiesDataArr; track hobby) {
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="hobby.imageSrc" alt="">
        <div class="card-body">
            <h5 class="card-title text-center">{{hobby.title}}</h5>
            <ul>
                @for(hobbylink of hobby.hobbyLinks; track hobbylink) {
                <li><a [href]="hobbylink.link" target="_blank">{{hobbylink.title}}</a></li>
                }
            </ul>
        </div>
    </div>
    }
</div>