<div class="hobbies-wrapper">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/GuitarDP.jpg" alt="">
        <div class="card-body">
            <h5 class="card-title text-center">Music (Lead Guitarist)</h5>
            <ul>
                <li><a href="https://www.facebook.com/BedrockBottom" target="_blank">Rock Band Facebook Page</a></li>
                <li><a href="https://www.facebook.com/wajoodmusic" target="_blank">Personal Page</a></li>
            </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/ooo.png" alt="">
        <div class="card-body">
            <h5 class="card-title text-center">My Youtube Channel</h5>
            <ul>
                <li><a href="https://www.youtube.com/playlist?list=PLZdPgkRI3ruiOnkAoA7UGi_ueg4PuB8qB" target="_blank">Angular Tutorials</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLZdPgkRI3ruidXU2BVr9WU0yoUSphK-w9" target="_blank">Travel</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLZdPgkRI3rugThm4kEEZJpwFPVm9o0AA-" target="_blank">Tech Tutorials</a></li>
            </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/bike.jpg" alt="">
        <div class="card-body">
            <h5 class="card-title text-center">Biker (Zaroha)</h5>
            <ul>
                <li><a href="https://www.instagram.com/ayushthakur2009/" target="_blank">My Instagram Page</a></li>
                <li><a href="https://www.instagram.com/zaroha_adventures/" target="_blank">Zaroha Instagram Page</a></li>
                <li><a href="https://www.facebook.com/ZarohaAdventures" target="_blank">Zaroha FB Page</a></li>
            </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/jenny.jpg" alt="">
        <div class="card-body">
            <h5 class="card-title text-center">Photography</h5>
            <ul>
                <li><a href="https://www.shutterstock.com/g/TravelingHulk" target="_blank">Shutterstock Profile</a></li>
                <li><a href="https://www.instagram.com/ayushthakur2009/" target="_blank">My Instagram Page</a></li>
            </ul>
        </div>
    </div>
</div>