@use '../../scss/variables.scss' as variables;

.underline {
  text-decoration: underline;
}

.about-wrapper {
  display: flex;
  justify-content: center;
}

.card {
  border: variables.$border;
  border-radius: 10%;
}
