@use '../../scss/variables.scss' as variables;

.selectStyle {
    width: fit-content;
}

.detailsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.about {
    width: 100%;
    min-width: 360px;
}

.selectHead {
    font-weight: 700;
}

@media screen and (max-width: 800px) {
    .detailsWrapper {
       flex-direction: column;
       align-items: center;
    }
  }