<div class="header-margin d-flex flex-column align-items-center p-2">
    <div class="d-flex align-items-center form-group mb-2">
        <label for="company" class="m-2 selectHead">Company</label>
        <select class="form-control selectStyle" id="company" (change)="showSelectedCompany($event)">
            @for(option of experienceArr; track option; let i = $index) {
            <option [value]="i">{{option.companyName}}</option>
            }
        </select>
    </div>

    <div class="detailsWrapper">
        <app-card-wrapper class="mb-3" title="Tech Stack" [iconArray]="selectedCompany.iconArray" [isExperience]="true">
        </app-card-wrapper>
        <app-about-product class="about ml-5" [detailArray]="selectedCompany.aboutProd"></app-about-product>
    </div>
</div>