<div class="contact-wrapper header-margin">
    <app-contact-card-layout class="m-3"></app-contact-card-layout>
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title text-center">Get in touch</h5>
            <div class="d-flex flex-column">
                <div class="contact-container d-flex justify-content-start align-items-center p-3">
                    <img src="assets/call.png" class="contact_img" alt="not found">
                    <h6 class="contactHead pl-2">{{contactDetails.phone}}</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center p-3">
                    <img src="assets/mail.png" class="email_img p-0" alt="not found">
                    <h6 class="emailHead">{{contactDetails.email}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title text-center">Checkout !!!</h5>
            <div>
                <ul>
                    @for(link of contactDetails.checkout; track link) {
                    <li><a [href]="link.link" target="_blank">{{link.label}}</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>