<div class="skills-container">
    <app-card-wrapper class="mb-3" title="Languages" linkText="Companies I have worked with" [iconArray]="languages" routeURL="/experience">
    </app-card-wrapper>
    <app-card-wrapper class="mb-3" title="Frameworks/Libraries" linkText="Out of office activities"
        [iconArray]="frameworks" routeURL="/hobbies"></app-card-wrapper>
    <app-card-wrapper class="mb-3" title="Tools" linkText="Facts about this app" [iconArray]="tools" routeURL="/about">
    </app-card-wrapper>
</div>