.skills-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

@media screen and (max-width: 800px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }
  }