<!-- <div class="backdrop">
    <div id="box">
    </div>
    <h1>AYUSH THAKUR</h1>
</div> -->

<div class="intro-container d-flex">
    <div class="introText">
        <div class="helloContainer">
            <h3 id="hello">
                Hey,
            </h3>
            <!-- <span id="horizontal-line"></span> -->
        </div>
        <h1>I'm {{componentData.name}}</h1>
        <h3>{{componentData.designation}} ({{componentData.experience}} Years of experience)</h3>
        <div class="buttonContainer mt-3">
            <button class="btn btn-primary mr-2 bring-top" (click)="openResume()">View Resumé</button>
            <button class="btn btn-primary bring-top" (click)="routeToContact()">Contact Me</button>
        </div>
    </div>
    <img src="assets/angular-react.png" alt="not found" class="introImg">
</div>