<div class="background-cogs">
  <img id="cog1" src="assets/cog.png" alt="" />
  <img id="cog2" src="assets/cog.png" alt="" />
  <img id="cog3" src="assets/cog.png" alt="" />
  <img id="cog4" src="assets/cog.png" alt="" />
  <img id="cog5" src="assets/cog.png" alt="" />
  <img id="cog6" src="assets/cog.png" alt="" />
  <img id="cog7" src="assets/cog.png" alt="" />
  <img id="cog8" src="assets/cog.png" alt="" />
  <img id="cog9" src="assets/cog.png" alt="" />
  <img id="cog10" src="assets/cog.png" alt="" />
  <img id="cog11" src="assets/cog.png" alt="" />
  <img id="cog12" src="assets/cog.png" alt="" />
  <img id="cog13" src="assets/cog.png" alt="" />
  <img id="cog14" src="assets/cog.png" alt="" />
  <img id="cog15" src="assets/cog.png" alt="" />
  <img id="cog16" src="assets/cog.png" alt="" />
</div>
<app-desktop-nav> </app-desktop-nav>
<div class="home-container fadeIn">
  <router-outlet></router-outlet>
</div>
