@use '../../scss/variables.scss' as variables;

.image-holder {
    img {
        height: 40px;
        padding-right: 2%;
    }
    height: 200px;
    overflow-y: auto;
}

.card-body-height {
    height: 200px;;
}

.card-body-height-large {
    height: 255px;
}

.card-body {
    min-height: variables.$card-min-height;
}

.card {
    width: variables.$card-width;
    border-radius: 10%;
    border: variables.$border;
}

.linkTxt {
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

.imgText {
    font-size: small;
    text-align: center;
}

.imgdiv {
    flex: 1 1 20%;
}