<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">5+ Years</h5>
        <h6 class="card-subtitle mb-2 text-center">of working experience</h6>
        <div class="d-flex justify-content-left flex-wrap">
            <img src="assets/fis.png" class="fis" alt="not found">
            <img src="assets/zen.png" class="zen" alt="not found">
            <img src="assets/zycus.png" class="zyc" alt="not found">
            <img src="assets/inf.png" class="inf" alt="not found">
        </div>
    </div>
</div>