$primary-heading-text-color: #e8ddd5;
$primary-background-color: #557A95;
$card-width: 18rem;
$card-min-height: 250px;
$border: 3px solid $primary-background-color;/* You can add global styles to this file, and also import other style files */
